body {
    margin: 0;
    background-color: #e2e1e0;
    font-family: Arial, sans-serif;
}

p {
    margin: 0;
}



.site-header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
    margin-bottom: 20px;
    background-color: #60b1d1;
}

.header-wrapper {
    width: 1050px;
    display: flex;
    justify-content: flex-start;
}

.site-title {
    margin: 0;
    margin-right: 2em;
    line-height: 1em;
}

.menu-nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.menu-list {
    display: flex;
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}

.menu-item {
    margin-right: 15px;
}

.menu-item a {
    color: black;
    text-decoration: none;
}

.menu-bhv {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}

.menu-bhv_toggle {
    margin-left: 20px;
}

.main-wrapper {
    width: 1050px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0 auto;
}

.elements {
    width: 740px;
    margin-bottom: 25px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
    background-color: azure;
}

.elements-title {
    padding: 10px;
    padding-bottom: 0;
    margin: 0;
}

.elements-desc {
    padding: 10px;
    margin-bottom: 10px;
}

.element {
    width: 100px;
    height: 100px;
    border: 2px solid #2081c3;
    box-sizing: border-box;
}

.element-block {
    display: block;
    margin: 0 auto;
    margin-bottom: 15px;
}

.elements-inlineblocks {
    box-sizing: border-box;
    padding-right: 10px;
}

.element-inlineblock {
    display: inline-block;
}

.element-inlineblock:first-of-type {
    margin-left: 10px;
}